* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*table{
	border-collapse: collapse;
	border-bottom: 2px solid lightgray;
}*/

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
	color: white; }
	.obed{
		background-color: #3B3F45;
		border: 20px solid white;
		min-height: 100%;
	}
	.obed__header{
		background-color: #4A4F56;
		padding: 20px 0;
		margin-bottom: 1.5rem;
		color: #eb7e7f;
	}

/*.obed_button {
      min-height: 50px;
      display: block;
      padding-left: 15px;
      background-color: #7a7593;
      border: 2px solid transparent;
      border-left: none;
      border-right: none;
      cursor: pointer;
      line-height: 2.9; }
      .obed_button > * {
        vertical-align: middle; }
      .obed_button > *:not(:last-child) {
        margin-right: .5rem; }
      .obed_button:active {
        background-color: #eb7e7f !important; }
      .obed_button:hover {
        border-color: white; }*/