* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: pointer;
}
/*table{
	border-collapse: collapse;
	border-bottom: 2px solid lightgray;
	}*/

	html, body {
		height: 100%;
	}
	body {
		cursor: pointer;
		background: #3b3f45;
		font-family: sans-serif;
		font-size: 16px;
		color: #fff;
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
	.check{
		display: inline;
	}
	.dinner__header{
		text-align: center;
		font-weight: bold;
		background-color: #4a4f56;
		color: #eb7e7f;
		padding: 20px 0;
	}
	.dinner__item{
		background: #88839E;
		width: 60%;
		margin: 50px auto;
		font-size: 25px;
	}
	.item{
		display: inline-block;
	}
	.submit{
		display: block;
		color: #eb7e7f;
		text-align: center;
		background: #4a4f56;
		margin-left: 20%;
		margin-top: 15px;
		width: 60%;  
		padding: 10px 0px 10px 0px;
		font-size: 1.2em;
		border: none;
		cursor: pointer;
		outline: none;
	}
	li:nth-child(2n){
		background: #7a7593;
	}
	.small{
		font-size: 15px;
		opacity: .2
	}
	li:hover, li:focus {
		background-color: #625e77;
		border-top: 3px solid white;
		border-bottom: 3px solid white;
	}

	li:active {
		background-color: #eb7e7f;
	}
	input:checked + label {  
		text-decoration: line-through;          
		opacity: .3;

	} 