body {
	background: #dd2476;
	font-size: 100%;
	margin-top: 60px;
	padding-top: 0;
}

.container {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	max-width: 580px;
	padding: 60px;
}

.form__header {
	font-size: 24px;
}

fieldset {
	margin: 20px;
	padding: 15px;
}
fieldset > * {
	display: block;
}

.header__text--link {
	color: #ea355a;
	text-decoration: none;
}
