body {
	background: #dd2476;
	font-size: 100%;
	margin-top: 60px;
	padding-top: 0;
}

.container {
	margin: 0 auto;
	max-width: 817px;
	background: #fff;
	max-width: 600;
	padding: 60px;
}

h1,
h2 {
	margin-top: 0;
}

.main__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.form__header {
	line-height: 1.4;
	font-size: 24px;
}
.form__header .header__img {
	padding-right: 10px;
}

.header__text--link {
	color: #ea355a;
	text-decoration: none;
}

.form__name,
.form__last_name {
	-ms-flex-preferred-size: 48%;
	flex-basis: 48%;
	display: inline-block;
}

.main__form__form* {
	font-size: 14px;
	display: inline-block;
	margin-bottom: 14px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #f0f0f0;
}

.form__email {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}
