*{
	padding: 0;
	margin: 0;
}
html, body{
	height: 100vh;
}
body {

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: green;
}
.board{
 max-width: 500px;
 margin: auto;
 margin-top: 10%;
 border: 5px solid black;
display: flex;
}