@import "mixin.scss";

*{
    box-sizing: border-box;
}
body{
 display: -webkit-box;
 display: -ms-flexbox;
}

.board
{
   position: relative;
   height: 365px;
   width: 621px;
   right: 0px;
   top: 100px;
   left: 370px;
   outline: 10px solid black;
}

/*:nth-child(2n){
    background: black;
    }
:nth-child(2n+1) {
    background: white;
    }*/
    .item1
    {
      position: absolute;
      
      width: 50px;
      height: 50px;
      background-color: black;
  }
  .item2{
    position: absolute;
    top: 0px;
    left: 50px;
    width: 50px;
    height: 50px;
}
.item3{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-color: black;
}
.item4{
    position: absolute;
    top: 0px;
    left: 150px;
    width: 50px;
    height: 50px;
}
.item5{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 50px;
    height: 50px;
    background-color: black;
}
.item6{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 50px;
    height: 50px;
}
.item7{
    position: absolute;
    top: 0px;
    left: 300px;
    width: 50px;
    height: 50px;
    background-color: black;
}
.item8{
    position: absolute;
    top: 0px;
    left: 350px;
    width: 50px;
    height: 50px;
}