.main-footer {
	min-height: 265px;
	background-color: $dark-grey-color;
	padding-top: 115px;
	background-image: url(../img/testimonials-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	&__content {
		max-width: 170px;
		margin: 0 auto;
	}

	.logo {
		margin-bottom: 30px;

		h2 {
			font-size: 24px;
			letter-spacing: 3px;
		}

		&-description {
			letter-spacing: 1px;
		}
	}

	