@mixin _black{
 	position: absolute;
 	width: 62.5px;
 	height: 62.5px;
 	background-color: black;
 }
 @mixin _white{
 	position: absolute;
 	width: 62.5px;
 	height: 62.5px;
 	background-color: white;
 }