body {
	background: url(../img/fon.jpg) no-repeat;
	background-size: cover;
	line-height: 40px;
	color: blanchedalmond;
	font-size: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
