* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

.item {
	position: absolute;
	width: 62.5px;
	height: 62.5px;
}

.board {
	clear: both;
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: auto;
	border: 10px solid green;
}

[class*="board__row"] {
	position: relative;
	min-height: 62.5px;
}

.item -1 {
	left: 13.5%;
}

.item -2 {
	left: 14.5%;
}

.item -3 {
	left: 15.5%;
}

.item -4 {
	left: 16.5%;
}

.item -5 {
	left: 17.5%;
}

.item -6 {
	left: 18.5%;
}

.item -7 {
	left: 19.5%;
}

.item -8 {
	left: 20.5%;
}

.item -9 {
	left: 21.5%;
}

[class*="item"]:nth-child(even) {
	position: absolute;
	width: 62.5px;
	height: 62.5px;
	background-color: white;
}

[class*="item"]:nth-child(odd) {
	position: absolute;
	width: 62.5px;
	height: 62.5px;
	background-color: black;
}
