.div
{
    display: inline-block; 

    max-width: 1140px;
    margin: auto;
}

.search
{
    font-size: 50%;
}

.placeholder
{
    font-weight: bold;

    width: calc(100% - 116px);

    color: #ec5a62;
}
