* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	background: #3b3f45;
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.conteiner{
	margin: 0 auto;
	max-width: 800px;
}
.form__ul{
	list-style: none;
	padding: 0;
	margin: 0 0 40px;
}
.form__label{
	display: block;
	cursor: pointer;
	padding: 15px;
}
.form__ul [type="checkbox"]{
	width: 26px;
	height: 26px;
	vertical-align: middle;
	position: relative;
	top: -2px;
	cursor: pointer;
	margin-right: 10px;
}		
.dinner__header,.bon_appetit {
	text-align: center;
	background: #4A4F56;
	padding: 20px 0;
	color: #eb7e7f;
}
.form  {
	background: #88839E;
	width: 100%;
	margin: 0px auto;
	font-size: 20px;
}	
.form__li:nth-child(2n){
	background: #7a7593;
}
.small{
	font-size: 15px;
	opacity: .2
}
.form__li:hover, .form__li:focus {
	background-color: #625e77;
	
}
.form__li:active {
	background-color: #eb7e7f;
}
.form__label [type="checkbox"]:checked + span {  
	text-decoration: line-through;          
	opacity: .3;
}
.form__label:hover{
	border-top: 0.5px solid white;
	border-bottom: 0.5px solid white;
}
.bon_appetit{
	cursor: pointer;
}