@import url("https://fonts.googleapis.com/css?family=Lato:300");
@font-face {
	font-family: "Miso-Bold";
	src: local("Miso-Bold"), url("https://nomail.com.ua/files/woff/b78843047ece07fc9a36dd16bbe70af7.woff") format("woff");
}

@font-face {
	font-family: "Miso";
	src: local("Miso"), url("https://nomail.com.ua/files/woff/9f3e5f399c91e65d1f10072955705898.woff") format("woff");
}
body{
	background:#fdde7e;
}
.conteiner{
	padding-top: 50px;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1140px;
	margin: auto;
}
.card {
	padding: 42px 0;
	flex-basis: 360px;
	min-height: 440px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.how_much{
	font-size: 70px;
	letter-spacing: 2px;
	line-height: 24px;
	color: #02995b;
	font-family: "Miso";
	font-weight: bold;
	text-align: center;
	flex-grow: 0.2;
}
.name{
	font-size: 56px;
	line-height: 24px;
	color: #333333;
	font-family: "Miso";
	text-align: center;
	flex-grow: 0.2;
}
.text{
	text-align: center;
	font-family: "Lato", Arial, sans-serif;
	font-size: 24px;
	max-width: 50%;
}
.img{
	padding-bottom: 40px;
}
.card:nth-child(2) {
	min-height: 500px;
	.how_much{
		flex-grow: 0.3;
	}
}
