/**{
	box-sizing: border-box;

}
html,body {
	height: 100%;
}

body {
	background-color: #E0E0E0;
}
a{
	border-radius: 10px;
}


.container{
	width: 100%;
	max-width: 1170px;
	margin: auto;
	padding: 0.15px;

}
.top_header{
	background-color: #E0E0E0;
	padding: 20px 0
	
}
.top_header .container > * {
	display: inline-block;
	flex-direction: row;
}

.top_header .container {
	display: flex;

}
.navigation__list{
	display: flex;
	justify-content: space-around;

}
.top_header__logo,
.top_header__registration{
	flex-grow: 0;
	max-height: 50px;
}
.top_header__middle{
	box-sizing:border-box;

	.navigation__link {
		color: white;
		text-decoration: none;
		border: 1px solid black;
		padding: 10px 0;
		background-color:#E0E0E0;

	}
	.top_header__logo > a{
		display: block;
		font-size: 0;
	}
	.navigation__link:link{color:black}      
	.navigation__link:visited {color:#00FF00} 
	.navigation__link:hover {background-color:#FF00FF} 
	.navigation__link:active {background-color:#0000FF} */
	
	.container{
		background: gold;
		border: ridge gold;
		border-radius: 13em/3em;
	}
	li{

	}
