body {
	background-color: #ECF0F1;
	font-family: Arial, sans-serif;
	font-size: 20px;
}
.cont{
	padding-top: 40px;
	max-width: 1100px;
	margin: 0 auto;
}
.cont_form{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0 auto;
}
.form_search{
	width: 100%;
	font-size: 80px;
	font-weight: 700;
	background-color: transparent;
	border: none;
	color: #ec5a62;
}
.form_button{
	width: 116px;
	height: 116px;
	border: none;
	background-color: transparent;
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
}
.table_1,.table_2{
	display: inline-block;
	min-width: 31%;
	margin-right: 2rem;
}
h2{
	font-size: 1.5rem;
	font-weight: 900;
	margin-bottom: 1rem;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
}
h3{
	margin-left: 13px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	list-style: none;
	vertical-align: middle;
}
.item_link{
	background-color: rgba(118,117,128,0.05);
	color: rgba(145,145,145,0.7);
	padding: 12px;
	font-size: 15px;
	font-weight: 600;
	display: block;
	text-decoration-line: none;
	vertical-align: middle;
}
.list1_item,.list2_item,.list3_item {
	margin-bottom: .5rem;
}
*a{
	display: flex;	
}
.link_img_circle{
	border-radius: 50%;
	vertical-align: middle;
}
.table a:hover {
	background-color:  rgba(118,117,128,0.1);
	color: #ec5a62;
}
.table_3{
	margin-right: 0;
	display: inline-block;
	min-width: 25%;
}
img{
	vertical-align: middle;
}
.form_search::-webkit-input-placeholder {
	color: #c2c2c2;
}

.form_search::-moz-placeholder {
	color: #c2c2c2;
}

.form_search::-moz-placeholder {
	color: #c2c2c2;
}

.form_search::-ms-input-placeholder {
	color: #c2c2c2;
}